body { 
    background-color: #480607;
    color: #461212;
    font-family: "Menlo", "Meslo LG", monospace;
    height: 100%;
   line-height: 1.725;
    margin: 0;
    width: 100%;
   text-rendering: geometricPrecision;
   box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

h1 {
    background-color: #480607;
    padding: .5em;
   font-family: "Menlo", "Meslo LG", monospace;
    color: #FFFFFF;
    text-align: center; 
    width: 420px;
    float: left;
    text-shadow: 1px 1px 2px #000000; 
}

h2 { 
    background-color: #480607;
    color: #FAF0CD;
    font-family: "Menlo", "Meslo LG", monospace;
    text-align: center;
    margin: 1em 0 0.5em;
    border-bottom: 2px dashed #FAF0CD;
    padding: .5em;
}
header {
    background-color: #000033; color:#FF9;
    background-image: url(Cougar-Lights-8_RSmith.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 100px;
    padding-top: 5px;
    padding-left: 2em;
    text-shadow: 1px 1px 1px #FFF;
    text-align: center;
    display: block;
}
nav {
    font-weight: bold;
    word-spacing: .5em;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    color: #480607;
    font-size: 1em;
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a { 
    text-decoration: none; 

}
p { 
    font-family: "Menlo", "Meslo LG", monospace;
    height: 100%;
   line-height: 1.725;
    margin: 0;
    max-width: 1200px;
   text-rendering: geometricPrecision;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
  html {
    margin: auto;
    padding: auto;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}
  .feature { 
    color: #C70000; 
}
  footer { 
    background-color: #480607; 
    color: #FAF0CD;
    font-size: .75em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    padding-top: 10px;
    font-family: "Menlo", "Meslo LG", monospace;
}
  .company {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    background-color: #FAF0CD;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-indent: .5em;
    padding-right: 10px;
    padding-left: 10px;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  ul {
    font-size: 12pt;
    text-indent: 3em; 
    width: 90%;
    max-width: 75ch;
    margin: 2rem auto;
   font-family: "Menlo", "Meslo LG", monospace;
}
  blockquote {
    padding: 2rem;
    background-color: #480607;
    color: hsl(24, 100%, 85%);
    width: 94%;
    margin: 0 1rem 1rem 0;
  }
  blockquote p {
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
  }
  hr {	
    border: 0.125rem solid #480607;
    margin: 3rem 0;
  }
  ol {
    font-size: 12pt;
    text-indent: .5em; 
    width: 90%;
    max-width: 75ch;
    margin: 2rem auto;
   font-family: "Menlo", "Meslo LG", monospace;
  }
img {
    display: block;
    margin: auto;
}